﻿html {
    text-rendering: optimizeLegibility !important;
}

body {
    font-family: "ff-meta-serif-web-pro";
}

h1, h2, h3 {
    -webkit-hyphens: none !important;
}

h1 {
    page-break-before: always !important;
}

h1, h2, h3 {
    page-break-after: avoid !important;
    page-break-before: always;
}

p {
    margin: 0;
    font-size: 17pt;
    line-height: 1.7em;
    text-align:justify
}

    p + p {
        margin: 0;
        text-indent: 1.5em;
    }

hr {
    text-align: center;
    border: none;
    margin-top: 1.3em;
    margin-bottom: 6em;
}

    hr:after {
        content: "\2767";
        color: #999;
        font-size: 3em;
    }



.home{
    padding-top: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1
{
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
