﻿<!DOCTYPE html>
@using System.IO
@{
    var di = new DirectoryInfo(Server.MapPath("/stories/shorts"));
    var shorts = di.EnumerateFiles().OrderByDescending(x => x.CreationTime);

    di = new DirectoryInfo(Server.MapPath("/stories/drabbles"));
    var drabbles = di.EnumerateFiles().OrderByDescending(x => x.CreationTime);

    //di = new DirectoryInfo(Server.MapPath("/news"));
    //var news = di.EnumerateFiles().OrderByDescending(x => x.CreationTime);

    di = new DirectoryInfo(Server.MapPath("/stories/novels"));
    var novels = di.EnumerateDirectories().OrderByDescending(x => x.CreationTime);

    var md = new MarkdownDeep.Markdown();
}
<html>
<head>
    <title>Iain M Norman</title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/site.css" rel="stylesheet" />
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "d7bbbaa6-612c-45fb-be7e-a4a4ed3e2cf9"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body class="container">
    <h1 class="page-header">Iain M Norman <small>(suitably profound byline)</small></h1>
    @*<div class="alert alert-danger">
            Alpha testing the site. Bugger off you probably shouldn't be here! *grins*
        </div>*@
    <p>
        Greetings reader, welcome to my writing page.
        Please join the newsletter if you want to keep up with news about new content.
        <br>
        Have fun!
    </p>
    <div class="row">
        <div class="col-sm-4">
            <h3>Short Stories</h3>
            <p>
                @foreach (var item in shorts)
                {
                    <a href="read/shorts/@Path.GetFileNameWithoutExtension(item.FullName)">@Path.GetFileNameWithoutExtension(item.FullName).Replace("-", " ")</a><br />
                }
            </p>


        </div>
        <div class="col-sm-4">
            <h3>Drabbles</h3>

            <p>
                @foreach (var item in drabbles)
                {
                    <a href="read/drabbles/@Path.GetFileNameWithoutExtension(item.FullName)">@Path.GetFileNameWithoutExtension(item.FullName).Replace("-", " ")</a><br />
                }
            </p>
                        
            <h3>Novels</h3>

            @*@foreach (var item in novels)
            {
                <h4>@Path.GetFileNameWithoutExtension(item.FullName).Replace("-", " ")</h4>
                di = new DirectoryInfo(item.FullName);
                var chapters = di.EnumerateFiles().OrderBy(x => x.Name);
                <p>
                    @foreach (var chapter in chapters)
                    {
                        <a href="read/novels/@Path.GetFileNameWithoutExtension(item.FullName)/@Path.GetFileNameWithoutExtension(chapter.FullName)">@Path.GetFileNameWithoutExtension(chapter.FullName).Replace(" - ", " ")</a><br />
                    }
                </p>
            }*@


        </div>
        <div class="col-sm-4">

            @*<h3>Reader Newsletter</h3>
            <p>Receive updates about new stories.</p>

            <form class="form" action="http://sendy.gigajam.com/sendy/subscribe" method="POST" accept-charset="utf-8">
                <input type="hidden" name="list" value="Nfvu2L9t3HPTtrH9EIgVSg" />
                <div class="form-group">
                    <label class="sr-only" for="name">Email address</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">Password</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
                </div>
                <button type="submit" class="btn btn-default">Get Newsletter</button>
            </form>*@

            <h3>Contact</h3><p><a href="mailto:mail@iainmnorman.com">mail@iainmnorman.com</a></p>
        </div>
    </div>
    @*@if (news.Count() != 0)
        {
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <h3>News</h3>
                    @foreach (var item in news)
                    {
                        var markdownText = File.ReadAllText(Server.MapPath(String.Format("/news/{0}", item.Name)));
                        var mdHtml = md.Transform(markdownText);
                        <span style="font-weight: bold; font-size: 10pt;">@item.CreationTime.ToShortDateString()</span><text>@Html.Raw(mdHtml)</text>
                        <hr />
                    }
                </div>
            </div>
        }*@
    <footer class="row">
        <div class="col-sm-12">All content is copyright Iain M Norman &copy;1973 - @DateTime.Now.Year</div>
    </footer>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-360267-5', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
