﻿<!DOCTYPE html>
@{
    var storyFormat = UrlData[0].ToString();
    var storyName = UrlData[1].ToString();
    string markdownText;
    string nextPath = "/";

    if (storyFormat == "novels")
    {
        var chapterName = UrlData[2].ToString();
        markdownText = File.ReadAllText(Server.MapPath(String.Format("/stories/novels/{0}/{1}.md", storyName, chapterName)));
        var di = new DirectoryInfo(Server.MapPath(String.Format("/stories/novels/{0}", storyName)));
        var chapters = di.EnumerateFiles().OrderBy(x => x.Name).ToList();
        for (int i = 0; i < chapters.Count(); i++)
        {
            if (Path.GetFileNameWithoutExtension(chapters[i].Name) == chapterName)
            {
                if (i != chapters.Count() - 1)
                {
                    nextPath = String.Format(
                        "/read/novels/{0}/{1}",
                        storyName,
                        Path.GetFileNameWithoutExtension(chapters[i + 1].Name));
                }
            }
        }

    }
    else
    {
        markdownText = File.ReadAllText(Server.MapPath(String.Format("/stories/{0}/{1}.md", storyFormat, storyName)));
    }

    var title = System.Text.RegularExpressions.Regex.Match(markdownText, @"#\s(.*)$", System.Text.RegularExpressions.RegexOptions.Multiline)
        .Groups[1].Value;

    markdownText = markdownText.Replace(Environment.NewLine, Environment.NewLine + Environment.NewLine + Environment.NewLine);

    var md = new MarkdownDeep.Markdown();
    string renderedMarkdown = md.Transform(markdownText);
}
<html>
<head>
    <title>@title &mdash; Iain M Norman</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/reader.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <meta name="description" content="The description of my page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "d7bbbaa6-612c-45fb-be7e-a4a4ed3e2cf9"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    <script src="//use.typekit.net/ezr2jei.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>

</head>
<body class="container">
    <div class="row">
        <div class="col-sm-12">
            @Html.Raw(renderedMarkdown)
        </div>
    </div>
    <div class="home">
        @if (nextPath == "/")
        {
            <a href="/">Homepage</a>
        }
        else
        {
            <a href="@nextPath">Next Chapter</a>
        }
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-360267-5', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
